*{
    //default styles
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/* =========Variable========================================================*/
$orange: rgb(16, 19, 51);
$grey: rgb(211, 211, 211);
$white: #ffff;
$base-color: $orange;


/* ========Mixins============================*/

@mixin transition{
    transition: all 0.6s ease-in-out;
}

@mixin corners ($radius){
    border-radius: $radius;
}

@mixin buttons{
    width: 150px;
    height: 60px;
    color: $white;
    background-color: $base-color;
    border: 1px solid $white;
    margin: 10px;
    cursor: pointer;
    font-size: 1.3rem;

}


//styles
body{
    background-color: $base-color;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height:100%;
    display: flex;
    justify-content: flex-start;
   
}

.banner{
    position: relative;
    border: 1px dotted rgb(0, 217, 255);
    width: 50%;
    height: 50vh;
    display: flex;
    margin: 0 auto;
    transform: translateY(50%);
    flex-direction: column;
    justify-content:center;
    align-items:center;
    h1, h2, p{
        font-size: 3rem;
        color: $white;
        margin: 10px 0;
    };

    .btn button{
        @include buttons;
        @include corners(5px);
        &:hover{
            @include transition;
            background-color: $grey;
            color: $orange;
        }
    }
}

/* .btn button{
        
    width: 100px;
    color: red;
} */
